@model FoodForHome.Web.ViewModels.Orders.CartViewModel
@{
}

<h3>Cart Page</h3>
<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col" colspan="2">Product</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Remove</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model.Items)
        {
        <tr>
            <td><img src="@item.Dish.ImageUrl" width="100" height="85" /> </td>
            <td>@item.Dish.Name  - @item.Dish.Gram grams</td>
            <td>@item.Dish.Price</td>
            <td>@item.Quantity</td>
            <td>
                <form method="post" asp-action="Remove" asp-route-id="@item.Dish.Id" data-ajax="true" data-ajax-success="deleteItem(this)">
                    <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                        Delete
                    </button>
                </form>
            </td>
            <td>@(item.Dish.Price * item.Quantity)</td>
        </tr>
        }
    </tbody>

    <tr>
        <td class="font-weight-bold" align="right" colspan="6">Total price: </td>
        <td class="font-weight-bold">
            @this.Model.TotalPrice BGN
        </td>
    </tr>
</table>
<a asp-controller="Dish" asp-action="Categories">Continue Shopping</a>
<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script>
     //function remove(id) {
     //    const dishId = id;
     //    var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
     //    var data = { dishId: dishId };
     //        $.ajax({
     //            type: "DELETE",
     //            url: "/api/Order",
     //            data: JSON.stringify(data),
     //            headers: {
     //                'X-CSRF-TOKEN': antiForgeryToken
     //            },
     //            success: function (data) {
     //                console.log(data);
     //            },
     //            contentType: 'application/json',
     //        });
     //    }

        function deleteItem(form) {
            $(form).parents('td').remove();
        }
    </script>
}
