@model FoodForHome.Web.ViewModels.Dishes.DishesByCategoryViewModel
@{
    if (!this.Model.Dishes.Any())
    {
        this.ViewData["Title"] = "Empty Category";
    }
    else
    {
        this.ViewData["Title"] = this.Model.Dishes.First().CategoryName;
    }
}
<link href="~/css/bycategory.css" rel="stylesheet" />

<h2>@ViewData["Title"]</h2>
<div class="content-container">
    @if (!this.Model.Dishes.Any())
    {
        <p>The current category is empty for now!</p>
    }
    else
    {
        @foreach (var dish in this.Model.Dishes)
        {
            <a class="style-none" asp-action="ById" asp-route-id="@dish.Id">
                <div class="card-container">                   
                        <div class="container-img">
                            <img src="@dish.ImageUrl" class="dish-img" alt="...">
                        </div>
                        <div class="dish-card-body">
                            <h5 class="dish-title">@dish.Name</h5>
                            <p class="dish-price">@dish.Price BGN</p>
                            <p class="dish-gram">@dish.Gram grams</p>
                        </div>
                </div>
            </a>
         }
    }
        </div>
