@model FoodForHome.Web.ViewModels.Menu.MenuViewModel
@{
    this.ViewData["Tittle"] = "Menu";
}

<h2>@this.ViewData["Tittle"]</h2>

<div class="col">
    @foreach (var category in this.Model.Categories)
    {
        <h2>@category.Name</h2>
        foreach (var dish in this.Model.Dishes)
        {
            if (dish.CategoryName == category.Name)
            {
                <div class="media row-12">
                    <img src="@dish.ImageUrl" width="100" class="mr-3 img-responsive">
                    <div class="media-body">
                        <h5 class="mt-0">@dish.Name</h5>
                        <p>@dish.Price</p>
                    </div>
                </div>
            }
            else
            {
                continue;
            }
        }
    }
</div>
